node_modules
package-lock.json

.DS_Store
.env
.vscode
npm-debug.log
dist
coverage
.idea
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.crt
*.key
*.p12
*.pfx
*.orig
*.rej
*.swo
*.swp
yarn-error.log
yarn-debug.log*
yarn.lock
.pnp.*
.pnp.js
.cache/
.next/
out/
build/
logs/
*.tsbuildinfo
*.tgz
.sass-cache
bower_components
.jest/
.vercel

# Logs
logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
